{% extends 'boilerplate.html' %}

{% block content %}

<div>
    <div>Login in</div>

    <form action="#" method="get">
        <label for="fistName">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lastName">Last name:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="startUpName">Start-up name:</label>
        <input type="text" id="startUpName" name="startUpName"><br><br>
        <input type="submit" value="Submit">

    </form>

</div>

{% endblock %}